<div class="row">
    <div class="col">
        <h2>Blog</h2>
        <ul class="calendar">
            <li class="day">
                <p class="day-number">16 de Junho de 2020</p>
                <ul class="calendar-list">
                    <li><a [routerLink]="['/post/introducao']">Introdução</a></li>
                    <li>Uma breve apresentação dos objetivos deste projeto.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>