<div class="row">
    <div class="col">
        <a class="voltar" [routerLink]="['']">voltar</a>
        
        <p class="day-number">16 de Junho de 2020</p>
        <h3>Introdução</h3>
        
        <p>Olá, seja bem-vindo!</p>

        <p>Meu nome é Kleber Anderson Corrêa e Silva. Mineiro. Residente em Curitiba desde 2001.</p>

        <p>Bacharel em Ciência da Computação pela UNIFEI (Universidade Federal de Itajubá), eu sempre tive grande interesse no desenvolvimento web. Em especial, na área do front-end. Sempre gostei de estudar mais temas ligados ao design: seja UI, UX, animações e acessibilidade.</p>

        <p>O meu objetivo com este projeto é poder mostrar um pouco dos meus estudos, fazer alguns testes e aprender algumas novas tecnologias. Para isso, comecei o portfólio com a estrutura mais simples possível. Até no layout. Quero ir melhorando com o tempo e ir documentando as mudanças.</p>

        <p>Este blog, por exemplo, está sendo feito com Angular. Já outras seções, que devo adicionar em breve, usarão outros frameworks. Além disso, eu vou tentar documentar as dificuldades e facilidades que tive com cada abordagem. Assim como questões de otimização e animação.</p>

        <p>No meio dessa loucura que está sendo o ano de 2020, espero conseguir pelo menos evoluir bastante nos meus estudos. Tenho altas expectativas para o próximo ano.</p>
    </div>
</div>